.where-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 화면 전체 높이 기준 */
  text-align: center;
}

.where-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
  white-space: pre-line;
  text-align: center;
}

.where-option {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}
